{% extends 'base.html.twig' %}

{% block title %}Compétence 1 {% endblock %}

{% block body %}
<head>
    
</head>


<body>
  <br><br>
  <center>
    <h1>Maîtriser les lois fondamentales de l’électricité afin <br> d’intervenir sur des équipements de réseaux et télécommunications</h1>
    <br><br>
    <p>Cette compétence qui est composé majoritairement du module r104 <br> est pour moi un de mes points fort, car aussi bien en CM/TD/TP <br> j'ai tout bien compris assez facilement et j'ai même pu aider des collègues de temps en temps.<br>
     Je pense que ma compréhension de cette matière a été <br> facilité par le fait que j'ai déjà eu de l'éxpérience dans ce domaine <br> avec notamment de la famille éléctricien et d'avoir fait un stage de 3ème <br> 
     ou j'ai pu suivre des gens travailler dans ce domaine la.</p>
     <strong> Pour résumé je maîtrise donc bien les lois fondamentales de l'éléctricité et je suis bel et bien capable d'intervenir sur des équipements de réseaux et télécommunications</strong>
  </center>

  <br><br><br><br><br><br><br>
   
  <center>
    <button onclick="window.location.href = '/portfolio';" class="btn btn-primary btn-lg">Retour           
    </button>    
  </center>  


</body>
<br><br><br><br>
<Footer>
  <table class="table table-hover">    
  <tr class="table-danger"> 
        <th scope="row">Arcis Etienne</th>
        <td>Ne pas copier</td>
        <td>Tout droits réservé</td>
        <td>© </td>
      </tr>
</footer> 
{% endblock %}