{% extends 'base.html.twig' %}

{% block title %}Compétence 2 {% endblock %}

{% block body %}
<head>
    
</head>


<body>
    <br>
    <center>
        <h1>Configurer les fonctions de base du réseau local <br>(Ethernet, IPv4, intro IPv6, commutation, VLANs, routage statique)</h1>
        <br><br>
        <p>Cette compétence regroupe majoritairement les modules R101a, R101b, R101c <br> Etant donné que ce sont des modules de réseaux cette compétence est donc une des plus importantes de ma formation " Réseaux et Télécommunications " <br> Contrairement à la 1ere compétence ( voir page précédente ) je n'avais aucune éxpérience en réseau <br>
        J'ai donc eu plus de mal lors de cet enseignement, c'est seulement après le 1er controle ( 7/20 :( ) que j'ai eu le déclic <br> et que j'ai repris le cours du tout 
        début et que j'ai réellement commencer à le comprendre <br> Après de longues heures de révision je me considère maintenant avoir le niveau de valider cette compétence. </p>
    </center>


    <br><br><br><br><br><br><br>
    <center>
        <button onclick="window.location.href = '/portfolio';" class="btn btn-primary btn-lg">Retour           
        </button>    
    </center> 
</body>

<br><br><br><br><br><br><br>
<Footer>
  <table class="table table-hover">    
  <tr class="table-danger"> 
        <th scope="row">Arcis Etienne</th>
        <td>Ne pas copier</td>
        <td>Tout droits réservé</td>
        <td>© </td>
      </tr>
</footer> 
{% endblock %}