{% extends 'base.html.twig' %}

{% block title %}Loisirs{% endblock %}

{% block body %}
<head>
    
</head>
<body>
    <center>
        <h1> Mes Loisirs</h1>
    </center>
    <h1>Le basket</h1>
    <p>Je fais maintenant du basket depuis 12ans environ. <br> <a href="#">J'évolue en club a un niveau régionnale Sénnior</a> <br> Mon but est de continuer a progresser tout en m'amusant !<br>  Voici une vidéo de moi a l'entrainement :) </p> 
    <center> <img src="img/basket.gif" height="350" width="300"/> </center>

    <h1>Les jeux vidéos</h1>
    <p>Depuis ma p  lus tendre enfance je suis un gros fan et joueur de jeux vidéos.<br> Je suis autant intéressé par le côté compétitif que le côté " fun ".<br> Voici mon jeu favori : <br> Counter Strike Global Offensive</p>
    <center> <img src="img/csgo.jpg"  height="300" width="400"/> </center>
    
    
    <br><br><br>

    <h1>Le bricolage/Mécanique</h1>
    <p>Je suis aussi un grand amateur de travaux manuels comme le bricolage et la mécanique auto/moto.<br> Cette passion me vient directement de mon père qui me l'a inculcé depuis tout petit.<br>
    Voici une photo de moi ayant tout juste 7ans et "travaillant" sur la restauration d'une pocket bike : </p>
    <center> <img src="img/brico.png" height="250" width="300"/> </center> 
    <br>
    <center>
        <form>
        <input type="button" value="Imprimer la page" onClick="window.print()">
        </form> 
    </center> 
           
</body>
<br>
<br>
<br>
<br>
<br>
<br>
<footer>
  <table class="table table-hover">    
  <tr class="table-danger"> 
        <th scope="row">Arcis Etienne</th>
        <td>Ne pas copier</td>
        <td>Tout droits réservé</td>
        <td>© </td>
      </tr>
</footer> 
{% endblock %}
