{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
<head>
</head>
<body>
    <br><br>
    <center>
        <h1> Mes Compétences <h1>
    </center>
    <br>

    <center>
        <button onclick="window.location.href = '/comp';" class="btn btn-primary btn-lg">Maîtriser les lois fondamentales de l’électricité afin <br> d’intervenir sur des équipements de réseaux et télécommunications           
        </button>    
    </center>  
    

    <br><br><br><br><br>

    <center>
        <button onclick="window.location.href = '/comp2';" class="btn btn-primary btn-lg">Configurer les fonctions de base du réseau local <br>(Ethernet, IPv4, intro IPv6, commutation, VLANs, routage statique)
        </button>
    </center>
    

    <br><br><br><br><br>

    <center>
        <button onclick="window.location.href = '/comp3';" class="btn btn-primary btn-lg">Utiliser un système informatique et ses outils<br>(intro système, fichiers, CLI, zips, outils collaboratifs sur Internet, hygiène informatique... : référentiel PIX et CyberEdu)
        </button>
    </center>
    

    

    <br><br><br><br>
    <center> <h1> Bonus </h1> </center>
    <h2> L'Anglais : </h2>
    <p> Au lycée j'ai obtenu un niveau C1 en anglais <br> ( sachant que le niveau C2 est l'équivalent d'une personne bilingue ).<br> Cette année en cours je me sens extremement à l'aise, vu que l'on étudit essentiellement au niveau A2/B1.<br> La pratique de cette langue à un assez bon niveau est donc, un gros plus surtout dans le dommaine de l'Informatique ou l'anglais est langue universelle est l'anglais.<br>J'ai développer mon niveau en Anglais et continue toujours de le faire soit en écoutant/regardant des vidéo/podcasts en anglais ou alors en parlant avec des personnes anglophone.<br> Je considère donc la pratique de cette langue comme un énorme point fort. </p>
    <br><br><br>
    <center> <img src="img/anglais.png" height="200" width="200"/> </center>
    <br><br>
    <center>
        <form>
        <input type="button" value="Imprimer la page" onClick="window.print()">
        </form> 
    </center>
     
</body>

<br><br><br><br><br>

<footer>
  <table class="table table-hover">    
  <tr class="table-danger"> 
        <th scope="row">Arcis Etienne</th>
        <td>Ne pas copier</td>
        <td>Tout droits réservé</td>
        <td>© </td>
      </tr>
</footer> 
{% endblock %}
